<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>장바구니</title>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles2.css" rel="stylesheet" />

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:replace="fragment/navigation :: menu(${user})">

</nav>

<div class="container-fluid mt-3">
    <div class="row">

        <!-- SIDE BAR -->
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" th:replace="fragment/navigation :: side(${user})">

        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">장바구니</h1>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">상품ID</th>
                        <th scope="col">상품명</th>
                        <th scope="col">수량</th>
                        <th scope="col">가격</th>
                        <th scope="col">담은날짜</th>
                        <th scope="col">삭제</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${cartDto.cartItems.size() > 0}" th:each="cart_item, i : ${cartDto.cartItems}">
                        <td th:text="${i.count}">1</td>
                        <td th:text="${cart_item.getItemId()}">3번상품</td>
                        <td>
                            <a th:href="@{/item/view/{id}(id=${cart_item.getItemId()})}"
                               th:text="${cart_item.getItemName()}"></a>
                        </td>
                        <td th:text="${cart_item.getCount()}">수량</td>
                        <td th:text="${cart_item.getPrice() * cart_item.getCount()}">가격</td>
                        <td th:text="${cart_item.getCreateDate()}">날짜</td>
                        <td class="btn btn-outline-success">
                            <a th:href="@{/user/{id}/cart/{cart_itemId}/delete(id=${user.id}, cart_itemId=${cart_item.getId()})}" style="text-decoration: none">삭제</a></td>
                    </tr>
                    <tr th:unless="${cartDto.cartItems != null and cartDto.cartItems.size() > 0}">
                        <td colspan="7">장바구니가 비어 있습니다.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <hr>



            <div class="row row-cols-2 mb-3 text-center mt-3">
                <!-- 좌측추가 -->

                <div class="col-8 y_userInfo">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3 px-4">
                            <h4 class="my-0 fw-normal">배송지 정보</h4>
                            <button class="btn btn-outline-primary btn-sm">기존 사용자 정보 가져오기</button>
                        </div>
                        <form class="card-body container" th:action="@{/user/{id}/cart/checkout(id=${user.getId()})}" method="post" th:object="${requestDto}">
                            <div class="row">
                                <label class="form-label col-sm-3" for="name">주문자 이름</label>
                                <div class="col-sm-9">
                                    <input type="text" id="name" name="name" th:value="${user.name}" class="form-control form-control-sm" />
                                </div>
                            </div>
                            <div class="row">
                                <label class="form-label col-sm-3" for="phoneNumber">주문자 전화번호</label>
                                <div class="col-sm-9">
                                    <input type="text" id="phoneNumber" name="phoneNumber" th:value="${user.phoneNumber}" class="form-control form-control-sm" />
                                </div>
                            </div>
                            <!-- 주소 -->
                            <div class="row">
                                <label class="form-label col-sm-3" for="addr1">주문자 주소</label>
                                <div class="col-sm-9">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <input type="text" id="addr1" name="addr1" th:value="${user.addr1}" class="form-control form-control-sm" />
                                            </div>
                                            <div class="col-sm-3">
                                                <button class="btn btn-primary btn-sm">주소검색</button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <input type="text" id="addr2" name="addr2" th:value="${user.addr2}" class="form-control form-control-sm" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <input type="text" id="addr3" name="addr3" th:value="${user.addr3}" class="form-control form-control-sm" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- 주소 -->

                            <div class="row">
                                <label class="form-label col-sm-3" for="request">요청사항</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" id="request" name="request" style="height: 100px"></textarea>
                                </div>
                            </div>
                            <div class="row px-2" >
                                <button type="submit" class="w-100 btn btn-lg btn-outline-primary">구매하기</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- 좌측추가 -->

                <div class="col-4">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">총 결제금액</h4>
                        </div>
                        <form class="card-body">
                            <h1 class="card-title pricing-card-title" th:text="${cartDto.totalPrice} + '₩'">$0</h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>잘못 담은 물건이 있는지 확인해보세요!</li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
</body>
</html>